/* Стили для папки каталог */
.content-catalog {
	/* сверху в низ */
	flex-wrap: wrap;
	/* слева на право */
	display: flex;
}

.main-content {
	display: flex;
  }
  
.left-menu {
	width: 25px;
	width: 250px;
	border-right: 3px groove;
}

.header {
	display: flex;
	justify-content: space-between;
	font-size: 420px;
	border-bottom: 3px groove;
}


.catalog-block {
	width: 200px;
	height: calc(20px + 200px + 3px * 2 + 2px);
	border: 3px solid;
	border-radius: 10px;
	margin: 10px;
}

.catalog-block .text-block {
	border-top: 3px solid;
	height: 200px;
	overflow-y: scroll;
	display: flex;
	flex-direction: column-reverse;
	align-items: flex-end;
}

.catalog-block .text-block .text {
	margin-bottom: 20px;

}

.catalog-block:hover {
	border-color: red;
}

.name {
	margin: 200px;
}

.catalog-block .name {
	margin: 3px 0;
	text-align: center;
	height: 20px;
}

.catalog-block img {
	max-width: 200px;
	max-height: calc(200px - 20px);
	border-radius: 10px;
}

.image-block {
	border-top: 1px solid;
	border-bottom: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	height: calc(200px - 20px);
}

.image-block.big-image {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}

.image-block.big-image img {
	max-width: 100%;
	max-height: 100vh;
	border-radius: 10px;
}

.buttons {
	height: 20px;
	display: flex;
}

.button {
	flex: 1;
	background: orange;
	border-right: 1px solid;
	display: flex;
	justify-content: center;
}

.button:first-child {
	border-bottom-left-radius: 10px;
	background: brown;
}
#nav_menu-19 {
	text-align: left;
}

.woof_container_product_tag .woof_container .woof_container_checkbox {
	align-items: left;	
}
nav{
	text-align: left;	
}
.main-menu {
	text-align: center;	
}
.content
{
	text-align: left;	
}
.logo {
	width: 100px;
	height: auto;
}
.logo-footer {
	width: 60px;
	height: auto;
}
.site-name
{
	display: flex;
	justify-content: center;
	border-bottom: 3px solid;
}
img {
	height: auto;
	width: 100%;
}

footer{
	display: flex;
	justify-content: center;
	/* font-size: auto; */
	border-top: 3px groove;
	border-bottom: none;
}